<!doctype html>
<html>
<head>
</head>
<body>
  <div id="altimeter">
  <!-- @include alt.svg -->
  </div>

  <input type='button' id='btn' value='zoom'></input>

  <script src="../gg.js"></script>

  <script>
  var altimeter = gg.Altimeter(document,document.querySelector("#altimeter"),"gg145-altimeter",false);
  var altitude=0.0;
  function rotate(timestamp) {
      altimeter.set(altitude);
      altitude+=1.0;
      requestAnimationFrame(rotate);
    }
  requestAnimationFrame(rotate);

  var btn=document.querySelector('#btn');
  btn.onclick = (function() {
    var state = 0;
    return function() {
      switch(state) {
      case 0:
        altimeter.resize(600);
        state = 1;
        break;
      case 1:
        altimeter.resize(400);
        state = 0;
        break;
    }
  }
})();
  </script>

</body>
</html>
