{
    "globals": {
      'geezerGauges':true
    },
    "rules": {
        "indent": [
            2,
            2
        ],
        "semi": [
            2,
            "always"
        ],
        "no-unused-vars": [
          0
        ],
        "no-console":[
          0
        ]
    },
    "env": {
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
      "templateStrings":true,
      "arrowFunctions":true,
      "blockBindings":true,
    }
}
