<!doctype html>
<html>
<head>
</head>
<body>
  <div id="attitude">
  <!-- @include attitude.svg -->
  </div>

  <input type='button' id='btn' value='zoom'></input>

  <script src="/svg-ac-inst.js"></script>

  <script>
  <!-- instantiate the attitude, give it the name that matches the template -->
  var attitude = svg_ac_inst.Attitude(document.querySelector("#attitude"),"gg145-attitude",false);

  var btn=document.querySelector('#btn');
  btn.onclick = (function() {
    var state = 0;
    return function() {
      switch(state) {
      case 0:
        attitude.resize(600);
        state = 1;
        break;
      case 1:
        attitude.resize(400);
        state = 0;
        break;
    }
  }
})();
  </script>

</body>
</html>
