<!doctype html>
<html>
<head>
</head>
<body>
  <div id="heading">
  <!-- @include heading.svg -->
  </div>

  <input type='button' id='btn' value='zoom'></input>

  <script src="/svg-ac-inst.js"></script>

  <script>
  <!-- instantiate the heading, give it the name that matches the template -->
  var heading = svg_ac_inst.Heading(document.querySelector("#heading"),"gg145-heading",false);
  var degrees = 0;

  function rotate(timestamp) {
      heading.set(degrees);
      degrees+=1.0;
      requestAnimationFrame(rotate);
    }
  requestAnimationFrame(rotate);


  var btn=document.querySelector('#btn');
  btn.onclick = (function() {
    var state = 0;
    return function() {
      switch(state) {
      case 0:
        heading.resize(600);
        state = 1;
        break;
      case 1:
        heading.resize(400);
        state = 0;
        break;
    }
  }
})();
  </script>

</body>
</html>
