<!doctype html>
<html>
<head>
  <style>/* this styling works on Chrome */
  html,body {
      overflow:hidden; /* no scrollbars, they make the resizing more complicated */
  }
  .container {
    display: flex;
    flex-direction:column;
    background-color: #000;
  }
  .row {
    display:flex;
    flex-direction:row;
    justify-content: center;
  }
  </style>
    <script src="/svg-ac-inst.js"></script>
    <script src="/lr.js"></script>
</head>
<body>

<div class='container'>
  <div class='row'>
    <div>  <!-- @include airspeed.svg -->  </div>
    <div>  <!-- @include attitude.svg -->  </div>
    <div>  <!-- @include altimeter.svg --> </div>
  </div>
  <div class='row'>
    <div>  <!-- @include turn.svg -->    </div>
    <div>  <!-- @include heading.svg --> </div>
    <div>  <!-- @include vsi.svg -->     </div>
  </div>
</div>

<script>

// instantiate the heading indicator, give it the name that matches the template -->
var heading = svg_ac_inst.Heading(document.querySelector("#heading"),"gg145-heading",false);

// instantiate the altimeter, give it the name that matches the template -->
var altimeter = svg_ac_inst.Altimeter(document.querySelector("#altimeter"),"gg145-altimeter",false);
altimeter.setPressure(29.92);

// instantiate the airspeed indicator, give it the name that matches the template -->
var airspeed = svg_ac_inst.Airspeed(document.querySelector("#airspeed"),"gg145-airspeed",false);

// instantiate the VSI, give it the name that matches the template -->
var vsi = svg_ac_inst.VSI(document.querySelector("#vsi"),"gg145-vsi",false);

//  instantiate the attitude indicator, give it the name that matches the template -->
var attitude = svg_ac_inst.Attitude(document.querySelector('#attitude'),"gg145-attitude",false);

// instantiate the turn coordinator, give it the name that matches the template -->
var turn = svg_ac_inst.Turn(document.querySelector('#turn'),"gg145-turn",false);

// simple resize that uses window size minus some border
function panel_onResize() {
    var cw = window.innerWidth  - 20;
    var ch = window.innerHeight - 20;
    var w = cw  / 3;
    var h = ch / 2;
    // use smaller of h and w so all 6 instruments will fit on the screen
    var s = (h < w) ? h : w;
    console.log(cw,ch,w,h,s);
    heading.resize(s);
    altimeter.resize(s);
    airspeed.resize(s);
    vsi.resize(s);
    attitude.resize(s);
    turn.resize(s);
}

function panel_onReady() {
    panel_onResize();
}

var index = 0;
var turn_rate = 0;
var turn_alpha = 0.01;
function run(timestamp) {
    var a = flight1[index];

    turn_rate = turn_rate + ((a[4] - turn_rate) * turn_alpha);
    attitude.set(a[1],-a[2]);
    heading.set(a[3]);
    turn.set(turn_rate,a[5]);
    altimeter.set(a[6]);
    airspeed.set(a[7]* (3600/6076));
    vsi.set(-a[8] * 60);

    index++;
    if (index >= flight1.length) {
        index = 0;
    }
    requestAnimationFrame(run);
  }

// add event listeners
window.addEventListener('resize',panel_onResize);
window.addEventListener('load',panel_onReady);

// start gauges running
requestAnimationFrame(run);

</script>
</body>
</html>
