<!doctype html>
<html>
<head>
</head>
<body>
  <div id="turn">
  <!-- @include turn.svg -->
  </div>

  <input type='button' id='btn' value='zoom'></input>

  <script src="/gg.js"></script>

  <script>
  <!-- instantiate the turn, give it the name that matches the template -->
  var turn = gg.Turn(document,document.querySelector("#turn"),"gg145-turn",false);
  var degrees = 0;

  var btn=document.querySelector('#btn');
  btn.onclick = (function() {
    var state = 0;
    return function() {
      switch(state) {
      case 0:
        turn.resize(600);
        state = 1;
        break;
      case 1:
        turn.resize(400);
        state = 0;
        break;
    }
  }
})();
  </script>

</body>
</html>
